.c-button {
  background-color:#0072c9;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
}
.c-link {
margin-top: 20px;
}
.c-description {
margin-bottom: 25px;
}
.c-list {
  list-style-type: none;
  padding: inherit;
}
.c-input {
  border: 1px solid #00B4CC;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  box-shadow: none;
}
body{
  background-color:white;
}
.App {
  margin-left:33%;
  margin-right:33%;
  display: block;
  position: absolute;
}